
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body#home{
  font-family: 'Poppins';
  background-image: url('../image/bg.svg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
body#nosotros{
  font-family: 'Poppins';
  background-image: url('../image/bg.svg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}


nav{
  background: rgb(243, 243, 243);
  height: 80px;
  width: 100%;
  position: sticky;
}
.enlace{
  position: relative;
  float: left;
  padding: 20px 50px;
}
.logo{
  height: 40px;
}
nav ul{
  float: left;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: black;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
li a.active, li a:hover{
  background: #f4f4f7;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: #000;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}


@media (max-width: 952px){
  .enlace{
      padding-left: 20px;
  }
  nav ul li a{
      font-size: 16px;
  }
}

@media (max-width: 640px){
  .checkbtn{
      display: block;
  }
  ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: rgb(243, 243, 243);
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
  }
  nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
  }
  nav ul li a{
      font-size: 20px;
  }
  li a:hover, li a.active{
      background: none;
      color: red;
  }
  #check:checked ~ ul{
      left:0;
  }
}


#letrerocarousel{
    width: 25%;
    float: left;
    align-items: center;
    margin-left: 5%;
    position: absolute;
    margin-top: 12%;
}
#letrero-header{
  font-size: 40px;
}

.containercarousel{
    width: 50%;
    float: right;
    position: static;
    right: 5%;
    transform: skew(-10deg);
    /* height: 10px; */
    /* margin-top: 45px; */
    border-radius: 50px;
}
.container-carousel{
  
  border-radius: 50px;
  
}
#divcarousel{
  height: 1px;
}

main{
  position: absolute;
  
}
.margin-footer{
  margin-left: 10px;
  padding-left: 10px;
}
.negrita{
  font-weight: bold;
}
.divnosotros{
  margin-top: 15%;
  margin-bottom: 15%;
  margin-left: 25%;
  margin-right: 25%;
  justify-content: center;
  padding: 15px;
  font-size: 200%;
  

}

footer {
   background-color: #555;
   color: white;
   padding: 15px;
   bottom: 0;
   left: 0;
   width: 100%;
   position: fixed;
  

 }

 @media screen and (max-width: 767px) {
   .sidenav {
     height: auto;
     padding: 15px;
   }
   .row.content {height: auto;} 
   .containercarousel{
    width: 100%;
   }
   #letrerocarousel{
    width: 100%;
    position: sticky;
   }
   .card-container{
    width: 50%;
  }
    
 }

 @media screen and (max-width: 500px) {
  .containercarousel{
    width: 380px;
   }
   .card-container{
    width: 100%;
  }
  .card{
    width: 100%;
  }

  .row-cards{
    width:100%;
		height:100%;
    

}

 }

 .whatsapp {
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  z-index:100;
}

.whatsapp-icon {
  margin-top:13px;
}



.row-cards{
    width:100%;
		height:100%;
    display:flex;
    justify-content: space-around;

}
.row-cardsindex{
  width:100%;
  top: 40px;
  display: flex;
  position: relative;

}

#container-servicios{
		width:100%;
		height:100px;
    display:flex;
    justify-content: space-around;
}
.card{
  width: 60%;
  height: 100%;
  border-radius: 5px;
}
#section-servicios{
  justify-content: space-around;
  margin-left: 8%;
}
.img-card{
  display: flex;
  align-items: center;
}
.card-title{
  color: #000;
  font-weight: bold;
  
}
.card-img{
  height: 100%
}
.card-container{
  width: 33%;
}


body#sevicios{
  background-image: url(../image/oficina.jpg);
  background-size: auto auto;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  
}




/* acacacacac

*/


/*slider*/
#carouselExampleIndicators{
	position: relative;
	height: 80vh;
	width: 100%;
  /* transform: skew(-5deg); */
}
#carouselExampleIndicators .carousel-inner{
	position: relative;
	height: 100%;
	width: 100%;
	background: #000;
}
#carouselExampleIndicators .carousel-inner:before{
	position: absolute;
	content: '';
	background: rgba(0, 0, 0, 0.45);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}
#carouselExampleIndicators .carousel-inner .carousel-item{
	position: relative;
	height: 100%;
	width:100%;
	background: url('../image/bogota.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(2){
	background: url('../image/bogota.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}
#carouselExampleIndicators .carousel-inner .carousel-item:nth-child(3){
	background: url('../image/bogota.jpg');
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
}

#carouselExampleIndicators .carousel-inner .carousel-item .info{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	height: auto;
	width: 100%;
	z-index: 1;
	text-align: center;
}
#carouselExampleIndicators .carousel-inner .carousel-item h1{
	height: auto;
	color: #fff;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 5.5em;
	font-weight: 750;
}
#carouselExampleIndicators .carousel-inner .carousel-item p{
	height: auto;
	color: #ccc;
	width: 100%;
	z-index: 1;
	text-align: center;
	font-size: 1.2em;
	font-weight: 500;
}